body {
    overflow-x: hidden;
    /*background-color: #000000;
    background-image: url("../images/nature02.png");*/
 }

/* Toggle Styles */

#bodyWrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*#bodyWrapper.toggled {
    padding-left: 250px;
}*/

#sideBar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bodyWrapper.toggled #sideBar {
    width: 250px;
}

#page-content-bodyWrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#bodyWrapper.toggled #page-content-bodyWrapper {
    position: absolute;
    margin-right: -250px;
}

#menu-toggle {
    position: fixed;
    left: 4px;
    top: 4px;
    z-index: 10000;
    background-color: grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bodyWrapper.toggled #menu-toggle {
    position: fixed;
    left: 254px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.border-class {
    border-top-width: 0px;
    border-color: #DCDCDC;
    border-bottom-width: 6px;
    border-style: solid;
    border-bottom-color: #A9A9A9;
}

.parallax01 {
    /* The image used */
    background-image: url("../images/nature02.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax02 {
    /* The image used */
    background-image: url("../images/binary.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax03 {
    /* The image used */
    background-image: url("../images/nature03.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax04 {
    /* The image used */
    background-image: url("../images/hackers.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
