body {
    overflow-x: hidden;
    /*background-color: #000000;
    background-image: url("../images/nature02.png");*/
 }

/* Toggle Styles */

#bodyWrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*#bodyWrapper.toggled {
    padding-left: 250px;
}*/

#sideBar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    opacity: 0.75;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bodyWrapper.toggled #sideBar {
    width: 250px;
}

#page-content-bodyWrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#bodyWrapper.toggled #page-content-bodyWrapper {
    position: absolute;
    margin-right: -250px;
}

#menu-toggle {
    position: fixed;
    left: 4px;
    top: 4px;
    width: 50px;
    z-index: 10000;
    background-color: #222233;
    color: #AACCFF;;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bodyWrapper.toggled #menu-toggle {
    position: fixed;
    left: 254px;
}

.bg-1 {
    background-color: #1C1F24;
    color: #A2482E;
}

.bg-2 {
    background-color: #004b28;
    color: #ffffff;
}

.border-class {
    border-width: 0px;
    border-style: solid;
}

.parallax01 {
    /* The image used */
    background-image: url("../images/dark01.jpg");

    /* Set a specific height */
    min-height: 680px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax02 {
    /* The image used */
    background-image: url("../images/dark02.jpg");

    /* Set a specific height */
    min-height: 370px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax03 {
    /* The image used */
    background-image: url("../images/dark03.jpg");

    /* Set a specific height */
    min-height: 370px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax04 {
    /* The image used */
    background-image: url("../images/hackers.jpg");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #00d905;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #00d905;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.active {
    color: red;
}

.headerQues {
    padding: 20px;
    color: #A62139;
}

.hover-active-red:hover {
    color: red;
}

.hover-active-green:hover {
    color: green;
}

#info-div {
    position: fixed;
    color: #0bff00;
    border-width: 0px;
    border-left-width: 3px;
    border-bottom-width: 4px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-color: #0bff00;
    background-color: transparent;
    right: 42px;
    top: 2px;
    height: 100px;
    overflow-y: auto;
    display: none;
}

#info-div.toggled {
    display: block;
}

#info-toggle {
    position: fixed;
    top: 2px;
    right: 10px;
    z-index: 10000;
}

code {
    background-color: #cfffcc;
}

.images {
    margin-top: 30px;
    margin-right: 40px;
    width: 40px;
    height: 40px;
}

#twitter {
    width: 50px;
    height: 50px;
}

#myContacts {
    padding: 45px;
    text-align: center;
    color: #1C1F24;
}

#contactInfo {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #A2482E;
}

.innerQues {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #A2482E;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      height: 60%;
      margin: auto;
}

.slider-size {
    height: 300px;      /* This is your slider height */
}

#scrollTell {
    position: fixed;
    top: 65%;
    left: 40%;
    z-index: 1;
    color: #00d905;
    text-align: center;
    font-size: 20px;
}

.hideArrow {
    visibility: hidden;
}

#scrollDiv {
    position: relative;
    z-index: 100;
}

.pagePreloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11000;
    background: url(../images/Preloader_3.gif) center no-repeat #fff;
}
